---
import { Icon } from 'astro-icon';
const { text, url, class: className = 'inline-block' } = Astro.props;
---

<div class={className}>
	<span class="align-super font-bold">My links:</span>
	<br />
	<button class="ml-2" data-aw-social-share="github" data-aw-url={"https://github.com/Matthew-Harvey/"} data-aw-text={text}
		><Icon name="logos:github" class="w-6 h-6" />
	</button>
	<button class="ml-2" data-aw-social-share="linkedin" data-aw-url={url} data-aw-text={text}
		><Icon name="logos:linkedin-icon" class="w-6 h-6" />
	</button>
	<button class="ml-2" data-aw-social-share="mail" data-aw-url={url} data-aw-text={text}
		><Icon name="tabler:mail" class="w-6 h-6" />
	</button>
</div>
