---
import PostTags from '~/components/atoms/Tags.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<div class="grid grid-cols-6 mx-auto items-stretch mb-10">
		<img src={image.src} alt="image" class="h-full w-full hidden md:flex md:rounded-l-3xl md:col-span-2" />
		<div class="bg-white bg-opacity-75 rounded-3xl md:rounded-r-3xl md:rounded-none col-span-6 md:col-span-4 ml-4">
			<header>
				<h2 class="text-xl sm:text-2xl font-bold leading-snug mb-2 font-heading">
					<a
						class="hover:text-primary-600 underline underline-offset-4 decoration-1 decoration-dotted transition ease-in duration-200"
						href={getPermalink(post.slug, 'post')}
					>
						{post.title}
					</a>
				</h2>
			</header>
			<p class="text-md sm:text-lg flex-grow">
				{post.excerpt || post.description}
			</p>
			<footer class="mt-4">
				<div>
					<span class="text-gray-500 dark:text-slate-400">
						<time datetime={post.publishDate}>{getFormattedDate(post.publishDate)}</time> ~
						{Math.ceil(post.readingTime)} min read
					</span>
				</div>
				<div class="mt-4">
					<PostTags tags={post.tags} />
				</div>
			</footer>
		</div>
</div>
